<nav class="navbar navbar-dark bg-dark" mb-4>
	<div class="container">
		<a href="{% url 'services:service_list' %}" class= "navbar-brand">Services</a>
		<a href="{% url 'services:treatment_list' %}" class= "navbar-brand">Treatment</a>
		<a href="{% url 'services:treatedarea_list' %}" class= "navbar-brand">Treatment Area</a>
		<a href="{% url 'services:pricetype_list' %}" class= "navbar-brand">Price Type</a>

<!--		{% if user.is_authenticated %}-->
<!--			<a href="/accounts/logout" class= "navbar-brand">Logout</a>-->
<!--		{% else %}-->
<!--			<a href="/accounts/login" class= "navbar-brand">Login</a>-->
<!--		{% endif %}	-->
	</div>
</nav>

