<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <section class="sidebar">

      <ul class="sidebar-menu" data-widget="tree">
        <li class="header" style="color:#afb0b1;">MAIN NAVIGATION</li>


        <li class="{% if request.get_full_path == '/accounts/list/' %} active {% endif %}">
          <a href="{% url 'accounts:account_list' %}">
            <i class="fa fa-fw fa-users"></i>
            <span>Accounts</span>
          </a>
        </li>

        <li class="{% if request.get_full_path == '/services/list/' %} active {% endif %}">
          <a href="{% url 'services:service_list' %}">
            <i class="fa fa-fw fa-user-md"></i>
            <span>Services</span>
          </a>
        </li>

        <li class="{% if request.get_full_path == '/services/list/' %} active {% endif %}">
          <a href="{% url 'services:treatment_list' %}">
            <i class="fa fa-heartbeat"></i>
            <span>Treatments</span>
          </a>
        </li>

        <li class="{% if request.get_full_path == '/services/list/' %} active {% endif %}">
          <a href="{% url 'services:treatment_area_list' %}">
            <i class="fa fa-hotel"></i>
            <span>Treatment Areas</span>
          </a>
        </li>

        <li class="{% if request.get_full_path == '/services/list/' %} active {% endif %}">
          <a href="{% url 'services:price_type_list' %}">
            <i class="fa fa-money"></i>
            <span>Price Types</span>
          </a>
        </li>

        <li class="{% if request.get_full_path == '/services/list/' %} active {% endif %}">
          <a href="{% url 'bookings:appointment_list' %}">
            <i class="fa fa-money"></i>
            <span>Appointments</span>
          </a>
        </li>


      </ul>
    </section>

  </aside>