{% extends 'base.html' %}

{% block page_title %} Services {% endblock %}

{% block content %}
<section class="content">

    <div class="box box-primary">
        <div class="box-header with-border">
            <h2 class="box-title">Add Service</h2>
        </div>

        <form class="form-horizontal" method="POST" action="{% url 'services:service_create' %}">
            {% csrf_token%}
            <div class="box-body">
               <div class="form-group">
                   <label>Service Name</label>
                    {{ form.name }}
                </div>

                <div class="form-group">
                    <label for="" class="col-md-2 control-label">Description</label>
                    <div class="col-md-4">
                        {{ form.description }}
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}

